STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2

# Fakturoid integration
FAKTUROID_SLUG=
FAKTUROID_CLIENT_ID=
FAKTUROID_CLIENT_SECRET=
FAKTUROID_USER_AGENT=YourAppName
# COD payment provider ID (default: pp_system_default)
COD_PROVIDER_ID=pp_system_default
